---
layout: default
title: me watch movie
---

<div id="home">

<img src="/images/construction.png">

   <h1>Film reviews</h1>
  <ul class="posts">
    {% for post in site.categories.film %}
      <li><span>{{ post.date | date_to_string }} | {{post.tags}}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <!--
  <h1>Book reviews</h1>
  <ul class="posts">
    {% for post in site.categories.book %}
      <li><span>{{ post.date | date_to_string }} | {{post.tags}}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  -->
  
  <h1>Novelty reviews</h1>
    <ul class="posts">
    {% for post in site.categories.novelty %}
      <li><span>{{ post.date | date_to_string }} | {{post.tags}}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  <!--
  <h1>Miscellaneous</h1>
    <ul class="posts">
    {% for post in site.categories.misc %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
  -->
</div>
